In [1]:
# Import pyspark 
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[1]") \
          .appName('SparkByExamples.com') \
          .getOrCreate()
         
#EMP DataFrame
empData = [(1,"Smith","2018",10,"M",3000),
    (2,"Rose","2010",20,"M",4000),
    (3,"Williams","2010",10,"M",1000),
    (4,"Jones","2005",10,"F",2000),
    (5,"Brown","2010",30,"",-1),
    (6,"Brown","2010",50,"",-1)
  ]
  
empColumns = ["emp_id","name","branch_id","dept_id",
  "gender","salary"]
empDF = spark.createDataFrame(empData,empColumns)
empDF.show()

#DEPT DataFrame
deptData = [("Finance",10,"2018"),
    ("Marketing",20,"2010"),
    ("Marketing",20,"2018"),
    ("Sales",30,"2005"),
    ("Sales",30,"2010"),
    ("IT",50,"2010")
  ]
deptColumns = ["dept_name","dept_id","branch_id"]
deptDF=spark.createDataFrame(deptData,deptColumns)  
deptDF.show()

# PySpark join multiple columns
empDF.join(deptDF, (empDF["dept_id"] == deptDF["dept_id"]) &
   ( empDF["branch_id"] == deptDF["branch_id"])).show()

# Using where or filter
empDF.join(deptDF).where((empDF["dept_id"] == deptDF["dept_id"]) &
    (empDF["branch_id"] == deptDF["branch_id"])).show()
    
# Create tables
empDF.createOrReplaceTempView("EMP")
deptDF.createOrReplaceTempView("DEPT")

# Spark SQL
spark.sql("SELECT * FROM EMP e, DEPT d where e.dept_id == d.dept_id"
         " and e.branch_id == d.branch_id").show()

+------+--------+---------+-------+------+------+
|emp_id|    name|branch_id|dept_id|gender|salary|
+------+--------+---------+-------+------+------+
|     1|   Smith|     2018|     10|     M|  3000|
|     2|    Rose|     2010|     20|     M|  4000|
|     3|Williams|     2010|     10|     M|  1000|
|     4|   Jones|     2005|     10|     F|  2000|
|     5|   Brown|     2010|     30|      |    -1|
|     6|   Brown|     2010|     50|      |    -1|
+------+--------+---------+-------+------+------+

+---------+-------+---------+
|dept_name|dept_id|branch_id|
+---------+-------+---------+
|  Finance|     10|     2018|
|Marketing|     20|     2010|
|Marketing|     20|     2018|
|    Sales|     30|     2005|
|    Sales|     30|     2010|
|       IT|     50|     2010|
+---------+-------+---------+

+------+-----+---------+-------+------+------+---------+-------+---------+
|emp_id| name|branch_id|dept_id|gender|salary|dept_name|dept_id|branch_id|
+------+-----+---------+-------+------+------+---------+-------+---------+
|     1|Smith|     2018|     10|     M|  3000|  Finance|     10|     2018|
|     2| Rose|     2010|     20|     M|  4000|Marketing|     20|     2010|
|     5|Brown|     2010|     30|      |    -1|    Sales|     30|     2010|
|     6|Brown|     2010|     50|      |    -1|       IT|     50|     2010|
+------+-----+---------+-------+------+------+---------+-------+---------+

+------+-----+---------+-------+------+------+---------+-------+---------+
|emp_id| name|branch_id|dept_id|gender|salary|dept_name|dept_id|branch_id|
+------+-----+---------+-------+------+------+---------+-------+---------+
|     1|Smith|     2018|     10|     M|  3000|  Finance|     10|     2018|
|     2| Rose|     2010|     20|     M|  4000|Marketing|     20|     2010|
|     5|Brown|     2010|     30|      |    -1|    Sales|     30|     2010|
|     6|Brown|     2010|     50|      |    -1|       IT|     50|     2010|
+------+-----+---------+-------+------+------+---------+-------+---------+

+------+-----+---------+-------+------+------+---------+-------+---------+
|emp_id| name|branch_id|dept_id|gender|salary|dept_name|dept_id|branch_id|
+------+-----+---------+-------+------+------+---------+-------+---------+
|     1|Smith|     2018|     10|     M|  3000|  Finance|     10|     2018|
|     2| Rose|     2010|     20|     M|  4000|Marketing|     20|     2010|
|     5|Brown|     2010|     30|      |    -1|    Sales|     30|     2010|
|     6|Brown|     2010|     50|      |    -1|       IT|     50|     2010|
+------+-----+---------+-------+------+------+---------+-------+---------+